In [2]:
import numpy as np
import pandas as pd

In [3]:
train_data=pd.read_csv("train.csv")
train_data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
train_data.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [5]:
len(train_data.index)

8523

In [6]:
train_data["Item_Weight"].describe()

count    7060.000000
mean       12.857645
std         4.643456
min         4.555000
25%         8.773750
50%        12.600000
75%        16.850000
max        21.350000
Name: Item_Weight, dtype: float64

In [7]:
train_data.loc[pd.isnull(train_data["Item_Weight"]),"Item_Weight"]= train_data["Item_Weight"].mean()

In [8]:
train_data.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [9]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
Item_Identifier              8523 non-null object
Item_Weight                  8523 non-null float64
Item_Fat_Content             8523 non-null object
Item_Visibility              8523 non-null float64
Item_Type                    8523 non-null object
Item_MRP                     8523 non-null float64
Outlet_Identifier            8523 non-null object
Outlet_Establishment_Year    8523 non-null int64
Outlet_Size                  6113 non-null object
Outlet_Location_Type         8523 non-null object
Outlet_Type                  8523 non-null object
Item_Outlet_Sales            8523 non-null float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.1+ KB

In [10]:
cat_train_data = train_data.select_dtypes(include=['object']).copy()

In [11]:
cat_train_data.head()
cat_train_data_columns=cat_train_data.columns

In [12]:
cat_train_data = cat_train_data.fillna(cat_train_data['Outlet_Size'].value_counts().index[0])

In [13]:
cat_train_data.isnull().sum()

Item_Identifier         0
Item_Fat_Content        0
Item_Type               0
Outlet_Identifier       0
Outlet_Size             0
Outlet_Location_Type    0
Outlet_Type             0
dtype: int64

In [14]:
train_data = train_data.fillna(train_data['Outlet_Size'].value_counts().index[0])

In [15]:
train_data.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [16]:
cat_train_data["Item_Fat_Content"].value_counts()
cat_train_data.loc[cat_train_data["Item_Fat_Content"]=="LF", "Item_Fat_Content"]="Low Fat"
cat_train_data.loc[cat_train_data["Item_Fat_Content"]=="low fat", "Item_Fat_Content"]="Low Fat"
cat_train_data.loc[cat_train_data["Item_Fat_Content"]=="reg", "Item_Fat_Content"]="Regular"
cat_train_data["Item_Fat_Content"].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [17]:
cat_train_data["Item_Type"].value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [18]:
cat_train_data["Outlet_Size"].value_counts()

Medium    5203
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [19]:
cat_train_data["Outlet_Location_Type"].value_counts()

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

In [31]:
cat_train_data["Outlet_Type"].value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [58]:
cat_train_data["Item_Fat_Content"]=cat_train_data["Item_Fat_Content"].astype('category')
cat_train_data["Item_Type"]=cat_train_data["Item_Type"].astype('category')
cat_train_data["Outlet_Size"]=cat_train_data["Outlet_Size"].astype('category')
cat_train_data["Outlet_Location_Type"]=cat_train_data["Outlet_Location_Type"].astype('category')
cat_train_data["Outlet_Type"]=cat_train_data["Outlet_Type"].astype('category')
cat_train_data["Outlet_Identifier"]=cat_train_data["Outlet_Identifier"].astype('category')

In [59]:
cat_train_data_onehot = cat_train_data.copy()
cat_train_data_onehot = pd.get_dummies(cat_train_data_onehot, columns=["Item_Fat_Content","Item_Type","Outlet_Size","Outlet_Location_Type","Outlet_Type"], prefix =["Item_Fat_Content","Item_Type","Outlet_Size","Outlet_Location_Type","Outlet_Type"])

cat_train_data_onehot.head()

,Item_Identifier,Outlet_Identifier,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Type_Baking Goods,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,Item_Type_Dairy,Item_Type_Frozen Foods,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,FDA15,OUT049,1,0,0,0,0,0,1,0,...,0,1,0,1,0,0,0,1,0,0
1,DRC01,OUT018,0,1,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
2,FDN15,OUT049,1,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,FDX07,OUT010,0,1,0,0,0,0,0,0,...,0,1,0,0,0,1,1,0,0,0
4,NCD19,OUT013,1,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0

In [60]:
cat_train_data_onehot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 30 columns):
Item_Identifier                    8523 non-null object
Outlet_Identifier                  8523 non-null category
Item_Fat_Content_Low Fat           8523 non-null uint8
Item_Fat_Content_Regular           8523 non-null uint8
Item_Type_Baking Goods             8523 non-null uint8
Item_Type_Breads                   8523 non-null uint8
Item_Type_Breakfast                8523 non-null uint8
Item_Type_Canned                   8523 non-null uint8
Item_Type_Dairy                    8523 non-null uint8
Item_Type_Frozen Foods             8523 non-null uint8
Item_Type_Fruits and Vegetables    8523 non-null uint8
Item_Type_Hard Drinks              8523 non-null uint8
Item_Type_Health and Hygiene       8523 non-null uint8
Item_Type_Household                8523 non-null uint8
Item_Type_Meat                     8523 non-null uint8
Item_Type_Others                   8523 non-null uint8
Item_Type_Seafood                  8523 non-null uint8
Item_Type_Snack Foods              8523 non-null uint8
Item_Type_Soft Drinks              8523 non-null uint8
Item_Type_Starchy Foods            8523 non-null uint8
Outlet_Size_High                   8523 non-null uint8
Outlet_Size_Medium                 8523 non-null uint8
Outlet_Size_Small                  8523 non-null uint8
Outlet_Location_Type_Tier 1        8523 non-null uint8
Outlet_Location_Type_Tier 2        8523 non-null uint8
Outlet_Location_Type_Tier 3        8523 non-null uint8
Outlet_Type_Grocery Store          8523 non-null uint8
Outlet_Type_Supermarket Type1      8523 non-null uint8
Outlet_Type_Supermarket Type2      8523 non-null uint8
Outlet_Type_Supermarket Type3      8523 non-null uint8
dtypes: category(1), object(1), uint8(28)
memory usage: 308.4+ KB

In [61]:
num_train_data = train_data.select_dtypes(exclude=['object']).copy()

In [62]:
num_train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 5 columns):
Item_Weight                  8523 non-null float64
Item_Visibility              8523 non-null float64
Item_MRP                     8523 non-null float64
Outlet_Establishment_Year    8523 non-null int64
Item_Outlet_Sales            8523 non-null float64
dtypes: float64(4), int64(1)
memory usage: 333.0 KB

result = pd.concat([cat_train_data_onehot,num_train_data],axis=1)

result.head()

In [115]:
result_train_data = pd.concat([cat_train_data_onehot,num_train_data],axis=1)
result_train_data["Outlet_Establishment_Year"]=result_train_data["Outlet_Establishment_Year"].astype('category')

In [116]:
result_train_data.head()

,Item_Identifier,Outlet_Identifier,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Type_Baking Goods,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,Item_Type_Dairy,Item_Type_Frozen Foods,...,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
0,FDA15,OUT049,1,0,0,0,0,0,1,0,...,0,0,1,0,0,9.30,0.016047,249.8092,1999,3735.1380
1,DRC01,OUT018,0,1,0,0,0,0,0,0,...,1,0,0,1,0,5.92,0.019278,48.2692,2009,443.4228
2,FDN15,OUT049,1,0,0,0,0,0,0,0,...,0,0,1,0,0,17.50,0.016760,141.6180,1999,2097.2700
3,FDX07,OUT010,0,1,0,0,0,0,0,0,...,1,1,0,0,0,19.20,0.000000,182.0950,1998,732.3800
4,NCD19,OUT013,1,0,0,0,0,0,0,0,...,1,0,1,0,0,8.93,0.000000,53.8614,1987,994.7052

In [117]:
result_train_data.columns

Index(['Item_Identifier', 'Outlet_Identifier', 'Item_Fat_Content_Low Fat',
       'Item_Fat_Content_Regular', 'Item_Type_Baking Goods',
       'Item_Type_Breads', 'Item_Type_Breakfast', 'Item_Type_Canned',
       'Item_Type_Dairy', 'Item_Type_Frozen Foods',
       'Item_Type_Fruits and Vegetables', 'Item_Type_Hard Drinks',
       'Item_Type_Health and Hygiene', 'Item_Type_Household', 'Item_Type_Meat',
       'Item_Type_Others', 'Item_Type_Seafood', 'Item_Type_Snack Foods',
       'Item_Type_Soft Drinks', 'Item_Type_Starchy Foods', 'Outlet_Size_High',
       'Outlet_Size_Medium', 'Outlet_Size_Small',
       'Outlet_Location_Type_Tier 1', 'Outlet_Location_Type_Tier 2',
       'Outlet_Location_Type_Tier 3', 'Outlet_Type_Grocery Store',
       'Outlet_Type_Supermarket Type1', 'Outlet_Type_Supermarket Type2',
       'Outlet_Type_Supermarket Type3', 'Item_Weight', 'Item_Visibility',
       'Item_MRP', 'Outlet_Establishment_Year', 'Item_Outlet_Sales'],
      dtype='object')

In [118]:
feautures=['Item_Fat_Content_Low Fat',
       'Item_Fat_Content_Regular', 'Item_Type_Baking Goods',
       'Item_Type_Breads', 'Item_Type_Breakfast', 'Item_Type_Canned',
       'Item_Type_Dairy', 'Item_Type_Frozen Foods',
       'Item_Type_Fruits and Vegetables', 'Item_Type_Hard Drinks',
       'Item_Type_Health and Hygiene', 'Item_Type_Household', 'Item_Type_Meat',
       'Item_Type_Others', 'Item_Type_Seafood', 'Item_Type_Snack Foods',
       'Item_Type_Soft Drinks', 'Item_Type_Starchy Foods', 'Outlet_Size_High',
       'Outlet_Size_Medium', 'Outlet_Size_Small',
       'Outlet_Location_Type_Tier 1', 'Outlet_Location_Type_Tier 2',
       'Outlet_Location_Type_Tier 3', 'Outlet_Type_Grocery Store',
       'Outlet_Type_Supermarket Type1', 'Outlet_Type_Supermarket Type2',
       'Outlet_Type_Supermarket Type3', 'Item_Weight', 'Item_Visibility',
       'Item_MRP', 'Outlet_Establishment_Year']

In [119]:
X = result_train_data[feautures]
X.head()

,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Type_Baking Goods,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,Item_Type_Dairy,Item_Type_Frozen Foods,Item_Type_Fruits and Vegetables,Item_Type_Hard Drinks,...,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year
0,1,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,9.30,0.016047,249.8092,1999
1,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,5.92,0.019278,48.2692,2009
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,17.50,0.016760,141.6180,1999
3,0,1,0,0,0,0,0,0,1,0,...,0,1,1,0,0,0,19.20,0.000000,182.0950,1998
4,1,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,8.93,0.000000,53.8614,1987

In [120]:
y =result_train_data["Item_Outlet_Sales"]
print(y)

0       3735.1380
1        443.4228
2       2097.2700
3        732.3800
4        994.7052
5        556.6088
6        343.5528
7       4022.7636
8       1076.5986
9       4710.5350
10      1516.0266
11      2187.1530
12      1589.2646
13      2145.2076
14      1977.4260
15      1547.3192
16      1621.8888
17       718.3982
18      2303.6680
19      2748.4224
20      3775.0860
21      4064.0432
22      1587.2672
23       214.3876
24      4078.0250
25       838.9080
26      1065.2800
27       308.9312
28       178.4344
29       125.8362
          ...
8493    4727.1800
8494    1637.8680
8495    4314.3840
8496    3715.1640
8497    2247.0750
8498    1601.2490
8499    2976.1260
8500    1907.5170
8501    1508.0370
8502    3020.0688
8503    3392.9168
8504    4138.6128
8505    2117.2440
8506    3944.8650
8507     515.9950
8508    2587.9646
8509     424.7804
8510    7182.6504
8511    4207.8560
8512    2479.4392
8513     595.2252
8514     468.7232
8515    1571.2880
8516     858.8820
8517    3608.6360
8518    2778.3834
8519     549.2850
8520    1193.1136
8521    1845.5976
8522     765.6700
Name: Item_Outlet_Sales, Length: 8523, dtype: float64

In [141]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
#model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model=DecisionTreeRegressor(max_depth=10)
model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=10, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [142]:
test_data=pd.read_csv("test.csv")
test_data.isnull().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [143]:
test_data.loc[pd.isnull(test_data["Item_Weight"]),"Item_Weight"]= test_data["Item_Weight"].mean()

In [144]:
test_data.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [145]:
cat_test_data = test_data.select_dtypes(include=['object']).copy()

In [146]:
cat_test_data = cat_test_data.fillna(cat_test_data['Outlet_Size'].value_counts().index[0])

In [147]:
cat_test_data.isnull().sum()

Item_Identifier         0
Item_Fat_Content        0
Item_Type               0
Outlet_Identifier       0
Outlet_Size             0
Outlet_Location_Type    0
Outlet_Type             0
dtype: int64

In [148]:
cat_test_data.loc[cat_test_data["Item_Fat_Content"]=="LF", "Item_Fat_Content"]="Low Fat"
cat_test_data.loc[cat_test_data["Item_Fat_Content"]=="low fat", "Item_Fat_Content"]="Low Fat"
cat_test_data.loc[cat_test_data["Item_Fat_Content"]=="reg", "Item_Fat_Content"]="Regular"
cat_test_data["Item_Fat_Content"].value_counts()

Low Fat    3668
Regular    2013
Name: Item_Fat_Content, dtype: int64

In [149]:
cat_test_data_onehot = cat_test_data.copy()
cat_test_data_onehot = pd.get_dummies(cat_test_data_onehot, columns=["Item_Fat_Content","Item_Type","Outlet_Size","Outlet_Location_Type","Outlet_Type"], prefix =["Item_Fat_Content","Item_Type","Outlet_Size","Outlet_Location_Type","Outlet_Type"])

cat_test_data_onehot.head()

,Item_Identifier,Outlet_Identifier,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Type_Baking Goods,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,Item_Type_Dairy,Item_Type_Frozen Foods,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,FDW58,OUT049,1,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
1,FDW14,OUT017,0,1,0,0,0,0,1,0,...,0,1,0,0,1,0,0,1,0,0
2,NCN55,OUT010,1,0,0,0,0,0,0,0,...,0,1,0,0,0,1,1,0,0,0
3,FDQ58,OUT017,1,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
4,FDY38,OUT027,0,1,0,0,0,0,1,0,...,0,1,0,0,0,1,0,0,0,1

In [150]:
cat_train_data_onehot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 30 columns):
Item_Identifier                    8523 non-null object
Outlet_Identifier                  8523 non-null category
Item_Fat_Content_Low Fat           8523 non-null uint8
Item_Fat_Content_Regular           8523 non-null uint8
Item_Type_Baking Goods             8523 non-null uint8
Item_Type_Breads                   8523 non-null uint8
Item_Type_Breakfast                8523 non-null uint8
Item_Type_Canned                   8523 non-null uint8
Item_Type_Dairy                    8523 non-null uint8
Item_Type_Frozen Foods             8523 non-null uint8
Item_Type_Fruits and Vegetables    8523 non-null uint8
Item_Type_Hard Drinks              8523 non-null uint8
Item_Type_Health and Hygiene       8523 non-null uint8
Item_Type_Household                8523 non-null uint8
Item_Type_Meat                     8523 non-null uint8
Item_Type_Others                   8523 non-null uint8
Item_Type_Seafood                  8523 non-null uint8
Item_Type_Snack Foods              8523 non-null uint8
Item_Type_Soft Drinks              8523 non-null uint8
Item_Type_Starchy Foods            8523 non-null uint8
Outlet_Size_High                   8523 non-null uint8
Outlet_Size_Medium                 8523 non-null uint8
Outlet_Size_Small                  8523 non-null uint8
Outlet_Location_Type_Tier 1        8523 non-null uint8
Outlet_Location_Type_Tier 2        8523 non-null uint8
Outlet_Location_Type_Tier 3        8523 non-null uint8
Outlet_Type_Grocery Store          8523 non-null uint8
Outlet_Type_Supermarket Type1      8523 non-null uint8
Outlet_Type_Supermarket Type2      8523 non-null uint8
Outlet_Type_Supermarket Type3      8523 non-null uint8
dtypes: category(1), object(1), uint8(28)
memory usage: 308.4+ KB

In [151]:
num_test_data = test_data.select_dtypes(exclude=['object']).copy()

In [152]:
result_test_data = pd.concat([cat_test_data_onehot,num_test_data],axis=1)

In [153]:
result_test_data.head()

,Item_Identifier,Outlet_Identifier,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Type_Baking Goods,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,Item_Type_Dairy,Item_Type_Frozen Foods,...,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year
0,FDW58,OUT049,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,20.750000,0.007565,107.8622,1999
1,FDW14,OUT017,0,1,0,0,0,0,1,0,...,1,0,0,1,0,0,8.300000,0.038428,87.3198,2007
2,NCN55,OUT010,1,0,0,0,0,0,0,0,...,0,1,1,0,0,0,14.600000,0.099575,241.7538,1998
3,FDQ58,OUT017,1,0,0,0,0,0,0,0,...,1,0,0,1,0,0,7.315000,0.015388,155.0340,2007
4,FDY38,OUT027,0,1,0,0,0,0,1,0,...,0,1,0,0,0,1,12.695633,0.118599,234.2300,1985

In [154]:
X_test = result_test_data[feautures]

In [158]:
predictions = model.predict(X_test)

In [161]:
output = pd.DataFrame({'Item_Identifier': result_test_data["Item_Identifier"],'Outlet_Identifier': result_test_data["Outlet_Identifier"],"Item_Outlet_Sales":predictions})

In [162]:
output.to_csv('my_submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!